
#Label, #counter {
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 14px;
}

#border {
    -fx-background-color: rgb(243, 243, 243);
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(160, 158, 158);
}


#pubblica {
    -fx-font-size: 16px;
    -fx-text-fill: #129beb;
    -fx-effect:null;
}

#pubblica:hover {
    -fx-underline: true;
    -fx-text-fill: #12cbeb;
}

#textArea{
    -fx-font-size: 14px;
    -fx-border-radius: 20px;

}

#anchor {
    -fx-background-color: transparent;
}

#img {
    -fx-border-width: 4px;
    -fx-border-color: blueviolet;
    -fx-background-insets: -20, -10;
    
}

#TextArea, #text {
    /*-fx-background-color: rgb(243, 243, 243);*/
    -fx-font-size:14px;
}

#LabelName {
    -fx-text-fill: rgb(27, 124, 172);
    -fx-font-size:16px;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
}

#LabelSurname {
    -fx-text-fill: rgb(53, 144, 189);
    -fx-font-size:13px;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
}

#lateralLine {
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: rgb(160, 158, 158);
}





/* =============== Tabella =============== */
.table-view {

    -fx-background-color: transparent;
    -fx-padding: 0px;

}

.table-view .column-header ,
.table-view .column-header-background .filler,
.table-view .column-header-background 
{
    -fx-padding: 0 0 0 0;
    
}

.table-view .table-cell
{
    -fx-background-color: transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #cecece38;
}

.table-view .table-row-cell {
    -fx-background-color: #cecece38;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0px;
    -fx-margin: 0 0 0 0;
}

.table-view .table-row-cell:even {
    /*-fx-background-color: #27303d;*/
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0px;
    -fx-margin: 0 0 0 0;
    
}

.table-view .table-row-cell:odd {
    /*-fx-background-color: #333f50;*/
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0px;
    -fx-margin: 0 0 0 0;
}

.table-view .table-row-cell:selected
{

}