
.button {
    -fx-cursor: hand ;
}

#addElement_Button {
    -fx-background-color: #8246FE;
    -fx-background-radius: 3px;
    -fx-padding: 0 0 0 0;
    -fx-text-fill:#ffffff;
    -fx-alignment: center;
    -fx-padding: 4 0 4 5;
    
}

#addElement_Button {
    -fx-background-color: #9865ff;
}


#turnBack_Button {

}

#save_Button, #NewPlaylistButton {
    -fx-background-color: #11db0aa4;
    -fx-text-fill:#2ECC71;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

#save_Button2, #turnBack_Button2 {
    -fx-background-color: linear-gradient(to right, #ee8700, #f14804);
    -fx-background-radius: 3px;
    -fx-padding: 0 0 0 0;
    -fx-text-fill:#ffffff;
    -fx-alignment: center;
    -fx-padding: 4 0 4 5;
    /*-fx-background-color: linear-gradient(to right, #ee8700, #3bf104);*/
    -fx-font-size: 15;
}

#save_Button2:hover, #turnBack_Button2:hover {
    -fx-background-color: linear-gradient(to right, #eeea00, #f18a04);
    -fx-font-size: 15;
    -fx-cursor: hand;
}

#cance_Button, #AnnullaPlaylistButton {
    /*-fx-background-color: #ff00008e;*/
    -fx-background-color: #ff00001e;
    -fx-text-fill:#E74C3C;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

#delete 
{
   /*-fx-background-color: #ff00008e;*/
   -fx-background-color: #ff00001e;
   -fx-border-width: 1;
   -fx-border-color: #E74C3C;
}

#edit2 
{
    -fx-text-fill:#179fd4;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    
}

#edit {
    -fx-background-color:#11db0aa4;
    -fx-border-width: 1;
    -fx-border-color: #2ECC71;
}

#edit2:hover {
    -fx-text-fill:#17bed4;
    -fx-background-color: transparent;
}

#comment 
{
    -fx-background-color:#063352e0;
    -fx-background-color:#ffaf026e;
    -fx-border-width: 1;

    
    /*-fx-border-color: #0094FF;*/
    -fx-border-color: #FFF60C;
    
}

#emotions {
    -fx-background-color:#390575e0;
    -fx-background-color:#06d66e85;
    -fx-border-width: 1;
    -fx-border-color: #F714FF;
    -fx-border-color: #28FF3E;

    
}

#comment, #edit, #delete, #emotions 
{
    -fx-cursor: hand ;
    -fx-border-radius: 10px;
    -fx-padding: 8 8 8 8;
    -fx-border-insets: 8px;
    -fx-background-insets: 5px;

    -fx-margin: 0;
} 


/*TABS*/
/*#tabButton1, #tabButton2 */

.tab
{ 
    -fx-pref-width: 150px;
    -fx-pref-height: 32px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    
}

.tab-header-background {
    
}


.tab:selected {
   
    
}

.tab-pane .tab-header-area .tab-header-background {
    
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
   
}
.tab-pane .tab
{
    

}

.tab-pane .tab:selected
{
    
}

.tab .tab-label { 
    -fx-alignment: CENTER;
   
    -fx-font-size: 15px;
    /*-fx-font-weight: italic;*/
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
   ;
}
