.root {
	-fx-background: #ffffff;
    /*-fx-background:linear-gradient(to right, #49a09d, #5f2c82); */
    /*-fx-background: linear-gradient(to right top, #4456D2, #C651C3);*/
    
	/*-fx-font-family: "Century Gothic";*/

}



#KeywordTextField {
    -fx-background-color: #F0F0F0;

}

#searchPane {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #e0e0e0;
    -fx-background-color: #2a2e38;
    -fx-alignment: center;
}
#SerachLabel {
    -fx-text-fill:#e2af08; 
    -fx-font-weight: bold;
    -fx-letter-spacing: 2px;
    -fx-font-size: 17px;
    -fx-marging: 0 10 0 0;
}

#SearachHbox {
    -fx-alignment: center;
}

#LabeNavbar1{
    -fx-text-fill:#e2af08; 
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 32;
    
}

#Hbox1 {
    /*    -fx-background-color: #52438F;*/
    -fx-background-color: #25282e;
}

#Vbox1 {
    /*-fx-background-color: #6F5cc2;*/
    -fx-background-color: #343843;
}




.button {
    -fx-background-color: transparent;
    -fx-text-align: center;
    -fx-text-fill:#ffffff;
    -fx-alignment: baseline_left ;
    -fx-padding: 0 0 0 28;
    -fx-font-size: 15px;
    
}

.button:hover {
    /*-fx-background-color: rgba(112, 167, 192, 0.4);*/
    -fx-background-color: #A89DDA;
    -fx-background-color: #9c9c9c66;
    
    
}

/*focalizzato o premuto*/
.button:focused {
    /*-fx-background-color: #1c1346;*/
    -fx-background-color: #f18100f6;
}

.button:selected {
    /*-fx-background-color: #1c1346;*/
    -fx-background-color: #cecece66;
}

/*#profileButton:pressed, #playlistButton:pressed, #CambioButton:pressed, #ExitButton:pressed, #optionsButton:pressed, #reposityButton:pressed*/
.button:active  {
    /*-fx-background-color: #1c1346;*/
    -fx-background-color: #cecece66;
}


.table-view {

    -fx-border-color: #36304A;
    /*-fx-border-radius: 12px;
    -fx-background-radius: 12px;*/
    -fx-padding: 0px;
    -fx-text-fill: #000000;
    -fx-background-color: linear-gradient(from 25% 10% to 100% 100%, #490e46, #a03616f5);

}

/* ===================== header tabella =====================*/
/*      Individual Column Header        */
.table-view .column-header ,
.table-view .column-header-background .filler,
.table-view .column-header-background 
{
    -fx-background-color: #36304A;
    /*-fx-background-radius: 12 12 0 0;*/
    -fx-padding: 8 0 8 0;
    -fx-margin: 8px;
}



/* ===================== header della colonna ===================== */
.table-view .column-header-background .label 
{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    
}


/* ===================== Cells and Rows =====================*/
/*Contenuto della cella*/
.table-view .table-cell{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

/**Spetto cella*/
.table-row-cell {
    -fx-padding: 0.0em; 
    -fx-cell-size: 40px;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-color: #575757;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:even {
 
}

.table-row-cell:odd {

}


.table-row-cell:hover {
    -fx-background-color: #cecece66;
}

.table-row-cell:selected
 {
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-background-color: #81c483;
    -fx-background-radius: 0px;
}


/* ===================== scroll-bars ===================== */
.table-view .virtual-flow .scroll-bar:vertical .thumb {
    /*-fx-background-color:  linear-gradient(to bottom, #4456D2, #a544d2);*/
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  transparent;/*linear-gradient(to right, #4456D2, #a544d2);*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding:10px;
  -fx-shape: null;
}

