



#BorderPaneTable {
    -fx-background-color: transparent;
}

#tableBack {
    -fx-background-color: #1E252F;
    /*-fx-background-radius: 20px;*/
    
}




.button {
    -fx-background-color: transparent;
    -fx-text-align: center;
    -fx-text-fill:#798AA6;
    -fx-alignment: baseline_left;
    -fx-padding: 4 0 4 10;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
    
}

.button:hover {
    -fx-background-color: #9c9c9c66; 
}

#PlaylistsTable 
{
    -fx-padding: 0px;
    -fx-text-fill: #fcfcfc;
    -fx-background-color:  transparent;
}


/* ===================== header tabella =====================*/
/*      Individual Column Header        */
#PlaylistsTable .column-header ,
#PlaylistsTable .column-header-background .filler,
#PlaylistsTable .column-header-background 
{
    -fx-padding: 0 0 0 0;
}

/* ===================== header della colonna ===================== */
#PlaylistsTable .column-header-background .label 
{
    -fx-text-fill: #8f8f8f;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-padding: 10 2 10 2;
    /*-fx-border-width: 0 0.5 0 0;*/
    -fx-border-width: 0.5px;
    
    
    /*-fx-font-weight: bold;*/
    
}

#PlaylistsTable .column {
    /*-fx-border-width: 0 0.5 0 0;*/
    -fx-border-width: 0px;
    -fx-border-color: #666666;
}


/* ===================== Cells and Rows =====================*/
/*Contenuto della cella*/
#PlaylistsTable .table-cell
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #313131;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-width: 0.5px;
    
    -fx-border-color: #666666;
    
    

}

/**Spetto cella*/
#PlaylistsTable .table-row-cell 
{
    -fx-padding: 0 0 0 0; 
    -fx-cell-size: 50px;
    -fx-font-size: 15px;
    -fx-border-width: 0px;
    
    -fx-margin: 0 0 0 0;
    /*-fx-border-width: 0.5 0 0 0;*/
    -fx-border-color: #666666;
   
}

#PlaylistsTable .table-row-cell:even {
    /*-fx-background-color: #27303d;*/
    -fx-background-color: transparent;
    
}

#PlaylistsTable .table-row-cell:odd {
    /*-fx-background-color: #333f50;*/
    -fx-background-color: transparent;
    
}


#PlaylistsTable .table-row-cell:hover {
    -fx-background-color: #cecece38;
}

#PlaylistsTable .table-row-cell:selected
{

}


/* ===================== scroll-bars ===================== */
#PlaylistsTable .virtual-flow .scroll-bar:vertical .thumb {
    /*-fx-background-color:  linear-gradient(to bottom, #4456D2, #a544d2);*/
}
#PlaylistsTable .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  transparent;/*linear-gradient(to right, #4456D2, #a544d2);*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#PlaylistsTable *.scroll-bar:horizontal *.increment-arrow,
#PlaylistsTable *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding:10px;
  -fx-shape: null;
}



