



#PLaylistSongs
{
    -fx-padding: 0px;
    -fx-text-fill: #fcfcfc;
    -fx-background-color:  transparent;
}


/* ===================== header tabella =====================*/
/*      Individual Column Header        */
#PLaylistSongs .column-header ,
#PLaylistSongs .column-header-background .filler,
#PLaylistSongs .column-header-background 
{
    -fx-padding: 0 0 0 0;
}

/* ===================== header della colonna ===================== */
#PLaylistSongs .column-header-background .label 
{
    -fx-text-fill: #8f8f8f;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-padding: 10 2 10 2;
    /*-fx-border-width: 0 0.5 0 0;*/
    
    
    /*-fx-font-weight: bold;*/
    
}

#PLaylistSongs .column {
    /*-fx-border-width: 0 0.5 0 0;*/
    -fx-border-width: 0px;
    -fx-border-color: #666666;
}


/* ===================== Cells and Rows =====================*/
/*Contenuto della cella*/
#PLaylistSongs .table-cell
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #313131;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-width: 0.5px;

    /*-fx-border-width: 0 0.5 0 0;*/
    -fx-border-color: #666666;
}

/**Spetto cella*/
#PLaylistSongs .table-row-cell 
{
    -fx-padding: 0 0 0 0; 
    -fx-cell-size: 50px;
    -fx-font-size: 15px;
    -fx-border-width: 0px;
    
    -fx-margin: 0 0 0 0;
    /*-fx-border-width: 0.5 0 0 0;*/
    -fx-border-color: #666666;
   
}

#PLaylistSongs .table-row-cell:even {
    /*-fx-background-color: #27303d;*/
    -fx-background-color: transparent;
    
}

#PLaylistSongs .table-row-cell:odd {
    /*-fx-background-color: #333f50;*/
    -fx-background-color: transparent;
}


#PLaylistSongs .table-row-cell:hover {
    -fx-background-color: #cecece38;
}

#PLaylistSongs .table-row-cell:selected
{

}


/* ===================== scroll-bars ===================== */
#PLaylistSongs .virtual-flow .scroll-bar:vertical .thumb {
    /*-fx-background-color:  linear-gradient(to bottom, #4456D2, #a544d2);*/
}
#PLaylistSongs .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  transparent;/*linear-gradient(to right, #4456D2, #a544d2);*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#PLaylistSongs *.scroll-bar:horizontal *.increment-arrow,
#PLaylistSongs *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding:10px;
  -fx-shape: null;
}