


#addElement_Button {
    -fx-background-color: #8246FE;
    -fx-background-radius: 3px;
    -fx-padding: 0 0 0 0;
    -fx-text-fill:#ffffff;
    -fx-alignment: center;
}


#turnBack_Button {

}

#save_Button, #NewPlaylistButton {
    fx-background-color: #11db0aa4;
    -fx-text-fill:#2ECC71;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

#cance_Button, #AnnullaPlaylistButton {
    -fx-background-color: #ff00008e;
    -fx-text-fill:#E74C3C;
    -fx-font-weight: bold;
    -fx-alignment: center-left;

}