#MainBackPane {
    -fx-background-color: #33375A;
}

#fieldsContainer {
    -fx-background-color: #1a1d38;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    
}

#fildContainer {
    /*-fx-background-color: rgb(69, 70, 91, 0.6);*/
    -fx-border-width: 0 2 0 2;
    -fx-background-color: #44465B;
    -fx-background-color: #3b3f687f;
    -fx-background-radius: 10px;
    -fx-padding: 0px;
}

#fildContainer2 {
    -fx-padding: 0px;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: lightslategray;
}

#ContainerBox {
    -fx-padding: 10px;
}

#fildContainer:hover {
    
}

#fildsLabel {
    -fx-text-fill: rgb(2, 253, 199);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 8;

    

    -fx-effect:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

#FildsHbox {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: lightslategray;
    -fx-border-radius: 10px;
    -fx-padding: 0px;
    
}


#FildsVbox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: lightslategray;
}

#FildsVbox2 {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightslategray;
    
}

.text-field {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: lightslategray;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 0 0 0 8;
    -fx-text-fill: #ffffff;
    -fx-text-box-border: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    
}

.text-field:hover {
    
}

.text-field:focused,  .text-field:selected{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    
}

.button {
    -fx-background-color: #42CC7E;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 18px;
}

.button:hover {
    -fx-background-color: #42accc;
}


.combo-box .list-cell 
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-text-align: center;
}

.combo-box .list-cell:hover {
    
}

.combo-box-popup .list-view 
{
    -fx-background-color: #3b4768, #3b4768;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
   
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #56618177;
    
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
   
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #5a79ce7f;
    -fx-text-fill: white;
}

.combo-box-base  {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-color: #3b47687f, #3b47687f, #3b47687f, #3b47687f;
    -fx-background-radius: 0, 5, 5, 5;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    
    
}


/*.combo-box-base:showing {
    -fx-color: -fx-pressed-base;
}


.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}*/

